/**
 * Remove general stuff
 */
#page > header {
  display: none;
}

#columns > .columns-inner {
  padding-top: 0;
}

#breadcrumb {
  display: none;
}

#page .block-inner,
#page .breadcrumb,
#page .region-help,
#page .messages,
#page #main-content > header,
#page #attribution {
  margin: 0;
}

/**
 * Global results formatting
 */
#bidondgeq-clienttime {
  padding-left: 1em;
}

.bidondgeq-party {
  border: 1px solid #000;
  float: left;
  width: 150px;
}

.bidondgeq-party-name {
  background-color: #ccc;
  padding: 5px;
}

.bidondgeq-party-result {
  padding: 5px;
}

.bidondgeq-party-leading {
  font-weight: bold;
}

#dgeq-global-stats {
  clear: both;
}

/**
 * Circ results formatting
 */

#bidondcircgeq-clienttime {
  padding-left: 1em;
}

.bidondgeq-candidate {
  border: 1px solid #000;
  float: left;
  width: 150px;
}

#dgeq-circ-stats {
  clear: both;
}
